body {
    transition: background-color 0.3s, color 0.3s;
}
.dark-mode {
    background-color: #121212;
    color: white;
}
.card {
    transition: background-color 0.3s, color 0.3s;
}
.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}
.toggle-mode {
    margin-bottom: 20px;
}
.card-body img {
    width: 100px;
    height: 100px;
}
